# for local development
version: '3.7'
services:
  elethorsim:
    build: .
    ports:
      - 3000:3000
    volumes:
      - '.:/app'
      - '/app/node_modules'
    environment:
      - CHOKIDAR_USEPOLLING=true
    tty: true
    command: /bin/sh -c "yarn dev"
